body {
    padding-top: 80px;
}

a.brand {
    color: #fff;
    font-weight: bold;
    margin: 20px 5px 0 0;
    float: left;
    background-image: url(../images/elephant-mini.png);
    width: 120px;
    height: 50px;
    margin: 0;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-left: 60px;
    margin-top: 5px;
    text-decoration: none;
}

a.brand:hover {
    color: #fff;
}

.navbar-default {
    background-color: #69D2E7 !important;
    border-color: #4DBCE9;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}

a, a:hover {
    color: #26ADE4;
}
