---
layout: default
title: Posts Archive
generator: pagination
use:
    - posts

---
{% set first = true %}
{% set year = '0' %}
{% set months = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'] %}
{% set currMonth = post.date | date("m") - 1 %}

<article>
  <header>
    <h2>Arquivo</h2>
  </header>
  <div>
    {% for post in page.pagination.items %}
    {% set this_year %}{{ post.date | date("Y") }}{% endset %}
    {% if year != this_year %}
      {% set month = '0' %}
      {% set year = this_year %}
    {% endif %}
    {% set this_month %}{{ months[currMonth] }}{% endset %}
    {% if month != this_month %}
      {% if not first %}
        </ul>
      {% endif %}
      {% set first = false %}
      {% set month = this_month %}
      <h3>{{ month }} {{ year }}</h3>
      <ul>
    {% endif %}
      <li>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </div>
</article>
<div>
  {% if page.pagination.previous_page or page.pagination.next_page %}
      <nav class="article">
        <ul class="pager">
          {% if page.pagination.previous_page %}
          <li>
            <a  href="{{ site.url }}{{ page.pagination.previous_page.url }}" title="Página anterior">
              &laquo;
              Anterior
            </a>
          </li>
          {% endif %}
          {% if page.pagination.next_page %}
          <li>
            <a href="{{ site.url }}{{ page.pagination.next_page.url }}" title="Próxima">
              Próxima
              &raquo;
            </a>
          </li>
          {% endif %}
          </ul>
      </nav>
  {% endif %}
</div>